{% block content %}
    {% if page_obj %}
        {% for post in page_obj %}
            <article class="alert alert-secondary" style="background: #0b0b0b; color: aliceblue; top: 0; height: auto; max-width: 500px; margin-left: 500px;">
                <div class="media-body" style="color: aliceblue">
                    <div class="article-metadata">
                        <div class="author" style="display: inline-block">
                            <img class="rounded-circle article-img" src="{{ post.user.profile.photo.url }}" alt="" width="60px" height="60px"><br>
                        </div>
                        <div style="display: inline-block; margin-left: 8px">
                            <a class="mr-2" href="{% url 'profile' post.user.pk %}" style="color: aliceblue; text-decoration: none">{{ post.user }}</a>
                            <small class="text-muted">{{ post.created_time|date:"F d, Y" }}</small>
                        </div>
                        <hr>
                        <div class="title" style="margin-top: 8px">
                            <h3><a class="article-title" href="{{ post.get_absolute_url }}" style="color: aliceblue; text-decoration: none">{{ post.title }}</a></h3>
                        </div>
                        <hr>
                    </div>
                    <div>
                        <p>
                            {{ post.text }}
                        </p>
                    </div>
                    <div>
                        {% for image in post.post_images.all %}
                            <div id="maximized" style="display: inline-block">
                                {% if image.image %}
                                    <img src="{{ image.image.url }}" alt="" width="30%" height="30%">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                <hr>
                <div>
                    <details>
                        <summary>Комментарии</summary>
                        {% for comment in post.post_comment.all %}
                            <div>
                                {% if comment.user.profile.photo %}
                                    <img src="{{ comment.user.profile.photo.url }}" style="border-radius:15px" alt="" width="30px" height="30px" >
                                {% endif %}
                                <b>{{ comment.user }}</b>: {{ comment }}
                            </div><br>
                        {% endfor %}
                    </details><br>
                </div>
{#                    <div class="post-body">#}
{#                        <div class="images" style="display: inline-block">#}
{#                        {% for image in post.post_images.all %}#}
{#                            {% if image.image %}#}
{#                                <img src="{{ image.image.url }}" alt="" width="300px" height="300px"><br>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                        </div>#}
{#                        <div class="text" style="display: inline-block">#}
{#                            <p class="article-content">{{ post.text }}</p>#}
{#                        </div>#}
{#                        <p class="tags">#}
{#                            Тэги:#}
{#                        </p><br>#}
{#                    </div>#}
                </div>
            </article>
        {% endfor %}
        <div class="pagination" style="margin-right: 500px; margin-left: 500px">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"><button class="btn btn-sm btn-outline-secondary" style="color: aliceblue">Первая</button></a>
                    <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-sm btn-outline-secondary" style="color: aliceblue">Предыдущая</button></a>
                {% endif %}
                <span class="current" style="color: aliceblue">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-sm btn-outline-secondary" style="color: aliceblue">Следущая</button></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"><button class="btn btn-sm btn-outline-secondary" style="color: aliceblue">Последнаяя</button></a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Нет постов!</p>
    {% endif %}
{% endblock %}