{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="display: inline-block;">
            <img src="/media/staff/danilasg5wh.png" alt="" width="586" height="671">
        </div>
        <div style="display: inline-block; position: fixed">
            <div>
                <H1 style="color: aliceblue">Авторизация</H1>
                <form method="POST" style="color: aliceblue">
                    {% csrf_token %}
                    <br>{{ form.as_p }}<br>
                    <button type="submit">Авторизация</button>
                </form>
                </div><br><br>
            <div>
                <h3 style="color: aliceblue">
                    Powered by energy of CEO SG5
                </h3>
                <p style="color: aliceblue">
                    За работу.<br> Впереди еще сотни непросмотренных демок, не сделанных домашек по джанге.
                </p>
            </div>
        </div>

    </div>

{% endblock %}