{% extends 'base.html' %}
{% block content %}
    <div style="color: aliceblue">
        <h3>Киберспортсмен: {{ request.user }}</h3>

        <p align="right">
            <a href="{% url 'editing'%}">
                <button type="button" class="btn btn-info">Редактирование профиля</button>
            </a>
        </p>
        {% if request.user.profile.photo %}
            <img src="{{ request.user.profile.photo.url }}" alt="" width="250px" height="250px">
        {% else %}
            <img src="/media/staff/avatar_icon.png" alt="" width="250px" height="250px">
        {% endif %}
            <p><b>Имя:</b> {{request.user.first_name}}</p>
            <p><b>Фамилия:</b> {{request.user.last_name}}</p>
            <p><b>email:</b> {{request.user.email}}</p>
            <details>
                <summary><b>Друзья:</b></summary>
                {% for friend in friends%}
                    {% if friend.sender == request.user %}
                        <li>
                        {% if friend.receiver.profile.photo %}
                            <img src="{{ friend.receiver.profile.photo.url }}" style="border-radius:10px" alt="" width="50px" height="50px">
                        {% else %}
                            <img src="/media/staff/avatar_icon.png" style="border-radius:10px" alt="" width="50px" height="50px">
                        {% endif %}
                        <a href="{% url 'profile' friend.receiver.pk%}">
                            {{ friend.receiver }}
                        </a>
                        </li>
                        {% else %}
                        <li>
                        {% if friend.sender.profile.photo%}
                            <img src="{{ friend.sender.profile.photo.url }}" style="border-radius:10px" alt="" width="50px" height="50px">
                        {% else %}
                            <img src="/media/staff/avatar_icon.png" style="border-radius:10px" alt="" width="50px" height="50px">
                        {% endif %}
                        <a href="{% url 'profile' friend.sender.pk%}">
                            {{ friend.sender }}
                        </a>
                        </li>
{#                        <a href="{% url 'friendship' action='remove' pk=friend.sender.pk %}">#}
{#                            <button type="button" class="btn btn-danger">Отклонить запрос</button>#}
{#                        </a>#}
                    {% endif %}
                {% endfor %}
            </details>
            <details>
                <summary><b>Подписки:</b></summary>
                {% for sub in subs %}
                <li>
                    {% if sub.receiver.profile.photo%}
                        <img src="{{ sub.receiver.profile.photo.url }}" style="border-radius:10px" alt="" width="50px" height="50px">
                    {% else %}
                        <img src="/media/staff/avatar_icon.png" style="border-radius:10px" alt="" width="50px" height="50px">
                    {% endif %}
                    <a href="{% url 'profile' sub.receiver.pk%}">
                        {{ sub.receiver }}
                    </a>
                </li>
                {% endfor %}
            </details>
            <details open>
                <summary><b>Заявки в друзья:</b></summary>
                {% for wait in waiting %}
                <li>
                    {% if wait.sender.profile.photo %}
                        <img src="{{ wait.sender.profile.photo.url }}" style="border-radius:10px" alt="" width="50px" height="50px">
                    {% else %}
                        <img src="/media/staff/avatar_icon.png" style="border-radius:10px" alt="" width="50px" height="50px">
                    {% endif %}
                    <a href="{% url 'profile' wait.sender.pk%}">
                        {{ wait.sender }}
                    </a>
                </li>

                <a href="{% url 'friendship' action='reject' pk=wait.sender.pk %}">
                    <button type="button" class="btn btn-danger">Отклонить запрос</button>
                </a>

                 <a href="{% url 'friendship' action='accept' pk=wait.sender.pk %}">
                    <button type="button" class="btn btn-success">Принять запрос</button>
                 </a>
                {% endfor %}
            </details>
            <details>
                <div class="col-md" style="color: aliceblue">
                    <h2>Посты пользователя:</h2>
                    <hr>
                    {% for post in posts %}
                        <div class="card-body">
                            <div class="media">
                            {% for image in post.post_images.all %}
                                {% if image.image %}
                                    <img src="{{ image.image.url }}" class="mr-3" alt="" width="250px" height="250px" >
                                {% endif %}
                            {% endfor %}
                                <div class="media-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.text }}.</p>
                                    <p>Теги:
                                    {% for tag in post.tag.all %}
                                        {{ tag.tag }},
                                    {% endfor%}</p>
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Открыть пост...</a>
                                </div>
                            </div>
                        </div>
                    <div class="text-muted" style="color: aliceblue">
                        <small>Пост создан: {{ post.created_time|date:"F d, Y" }}</small>
                    </div>
                    {% endfor %}
                    <hr>
                </div>
            </details>
    </div>
{% endblock %}