{% extends 'base.html' %}

{% block content %}
    <div style="border: 1px solid aliceblue; width: 250px; height: 700px; display: inline-block; position: absolute; margin-left: 50px">
        <b style="margin-left: 5px; color: aliceblue">Чаты</b>
        <div style="overflow: auto; border: 1px solid aliceblue; width: 100px; height: 400px; border-radius: 5px; margin-left: 140px">
            {% for friend in friends%}
                <div style=" margin-left: 10px; margin-top: 10px">
                    {% if friend.sender == request.user %}
                        <div>
                            {% if friend.receiver.profile.photo %}
                                <img src="{{ friend.receiver.profile.photo.url }}" style="border-radius:10px" alt="" width="50px" height="50px">
                            {% else %}
                                <img src="/media/staff/avatar_icon.png" style="border-radius:10px" alt="" width="50px" height="50px">
                            {% endif %}
                        </div>
                        <div >
                            <a style="color: aliceblue" href="{% url 'chat' friend.receiver.pk%}">
                                {{ friend.receiver }}
                            </a>
                        </div>
                    {% else %}
                        <div>
                            {% if friend.sender.profile.photo%}
                                <img src="{{ friend.sender.profile.photo.url }}" style="border-radius:10px" alt="" width="50px" height="50px">
                            {% else %}
                                <img src="/media/staff/avatar_icon.png" style="border-radius:10px" alt="" width="50px" height="50px">
                            {% endif %}
                        </div>
                        <div>
                            <a style="color: aliceblue" href="{% url 'chat' friend.sender.pk%}">
                                {{ friend.sender }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="display: inline-block; border: 1px solid aliceblue; width: 900px; height: 700px; margin-left: 325px;">
        <div>
            <div style="margin-left: 400px">
                {% if chat_friend.profile.photo %}
                    <img src="{{ chat_friend.profile.photo.url }}" alt="" width="50px" height="50px" style="border-radius: 25px; margin: 10px"><br>
                {% else %}
                    <img src="/media/staff/avatar_icon.png" alt="" width="50px" height="50px" style="border-radius: 25px; margin: 10px"><br>
                {% endif %}
            </div>
            <h6 style="color: aliceblue; margin-left: 10px">{{ chat_friend.username }}</h6>
        </div>
        {% if message %}
            <div style="margin: 5px; border: 1px solid aliceblue; overflow: auto; height: 450px; width: 890px">
                {% for text in message %}
                    {% if text.sender == request.user %}
                        <div class="alert alert-primary" role="alert" style="width: 50%; margin-left: 50%" align="right">
                            <p align="right"><b>{{ text.text }}</b></p>
                            {{ text.sender }} |
                            <small align="left">{{ text.time|date:"H:i:s M d,Y" }}</small>
                        </div>
                    {% else %}
                        <div class="alert alert-dark" role="alert" style="width: 50%;">
                            <p><b>{{ text.text }}</b></p>
                            {{ text.sender }} |
                            <small align="right">{{ text.time|date:"H:i:s M d,Y" }}</small>
                        </div>
                    {% endif %}
                {% endfor%}
            </div>
        {% else %}
            <h1 style="color: aliceblue; margin-left: 10px">Чтобы начать общение напишите пользователю</h1>
        {% endif %}
        <div style="vertical-align: bottom">
            <form method="POST" style="width: 890px; margin: 10px">
                {% csrf_token %}
                {% for field in form.visible_fields  %}
                    <p style="color: aliceblue">Сообщение:<br> {{ field }}</p>
                {% endfor %}
                <button type="submit">Отправить сообщение</button>
            </form>
        </div>
    </div>
{% endblock %}